$Moderate-violet : #7541c8;
$Moderate-violet-light: #a166ff;
$Very-dark-grayish-blue: #48556a;
$Very-dark-grayish-blue-50: hsla(217, 19%, 35%, 0.5);
$Very-dark-grayish-blue-70: hsla(217, 19%, 35%, 0.7);
$Very-dark-blackish-blue: #19212e;
$White: #ffffff;
$Light-gray: #cfcfcf;
$Light-grayish-blue: hsl(210, 46%, 95%);

$breakpoints: (
  small: 540px,
  medium: 768px,
  large: 1024px
);

@mixin media-query($breakpoint)  {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $Light-grayish-blue;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 20px;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
  gap: 20px;
  max-width: 1100px;
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;

  &__user {
    align-items: center;
    display: flex;
  }

  &__img {
    border-radius: 50em;
    height: 32px;
    margin-right: 1.2rem;
  }

  &__name {
    font-size: 0.85rem;
    margin: 0 0 3px 0;
  }

  &__check {
    font-size: 0.7rem;
    margin: 0;
  }

  &__testimony-one {
    font-size: 1.19rem;
    font-weight: bolder;
  }

  &__testimony-two {
    font-size: 0.813rem;
    line-height: 20px;
    margin: 0;
  }
}

.card-one {
  background-color: $Moderate-violet;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 1.57em;
  color: $White;

  .card__img {
    border: 2px solid $Moderate-violet-light;
  }
  .card__testimony-two, .card__check {
    color: rgba(255, 255, 255, 0.5);
  }
}

.card-two {
  background-color: $Very-dark-grayish-blue;
  color: $White;
  
  .card__testimony-two, .card__check  {
    color: rgba(255, 255, 255, 0.5);
  }
}

.card-four {
  background-color: $Very-dark-blackish-blue;
  color: $White;

  .card__img {
    border: 2px solid $Moderate-violet-light;
  }

  .card__testimony-two, .card__check  {
    color: rgba(255, 255, 255, 0.5);
  }
}

.card-five, .card-three  {
  background-color: $White;
  color: $Very-dark-grayish-blue;
  .card__testimony-two, .card__check  {
    color: rgba(25, 33, 46, 0.5);
  }
}

@include media-query(small) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "one three"
    "one four"
    "two four"
    "five five";
  }

  .card-one {
    grid-area: one;
  }

  .card-two {
    grid-area: two;
  }

  .card-three {
    justify-self: start;
    grid-area: three;
  }

  .card-four {
    grid-area: four;
  }

  .card-five {
    grid-area: five;
  }
}

@include media-query(large) {
  html {
    height: 100vh;
  }
  
  body {
    font-size: 50px;
    margin: 0;
  }
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    " one one two five "
    " three four four five ";
  }

  // .card {
  //   &__testimony-two {
  //     line-height: 18px;
  //   }
  // }
}