*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ecf2f8;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 20px;
  height: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 1100px;
}

.card {
  border-radius: 10px;
  padding: 25px;
}

.card__user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__img {
  border-radius: 50em;
  height: 32px;
  margin-right: 1.2rem;
}

.card__name {
  font-size: 0.85rem;
  margin: 0 0 3px 0;
}

.card__check {
  font-size: 0.7rem;
  margin: 0;
}

.card__testimony-one {
  font-size: 1.19rem;
  font-weight: bolder;
}

.card__testimony-two {
  font-size: 0.813rem;
  line-height: 20px;
  margin: 0;
}

.card-one {
  background-color: #7541c8;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 1.57em;
  color: #ffffff;
}

.card-one .card__img {
  border: 2px solid #a166ff;
}

.card-one .card__testimony-two, .card-one .card__check {
  color: rgba(255, 255, 255, 0.5);
}

.card-two {
  background-color: #48556a;
  color: #ffffff;
}

.card-two .card__testimony-two, .card-two .card__check {
  color: rgba(255, 255, 255, 0.5);
}

.card-four {
  background-color: #19212e;
  color: #ffffff;
}

.card-four .card__img {
  border: 2px solid #a166ff;
}

.card-four .card__testimony-two, .card-four .card__check {
  color: rgba(255, 255, 255, 0.5);
}

.card-five, .card-three {
  background-color: #ffffff;
  color: #48556a;
}

.card-five .card__testimony-two, .card-five .card__check, .card-three .card__testimony-two, .card-three .card__check {
  color: rgba(25, 33, 46, 0.5);
}

@media screen and (min-width: 540px) {
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "one three" "one four" "two four" "five five";
  }
  .card-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: one;
  }
  .card-two {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: two;
  }
  .card-three {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: three;
  }
  .card-four {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: four;
  }
  .card-five {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: five;
  }
}

@media screen and (min-width: 1024px) {
  html {
    height: 100vh;
  }
  body {
    font-size: 50px;
    margin: 0;
  }
  .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        grid-template-areas: " one one two five " " three four four five ";
  }
}
/*# sourceMappingURL=style.css.map */