:root {
  --color-dark-blue: hsl(238, 29%, 16%);
  --color-red: hsl(14, 88%, 65%);
  --color-dividers: hsl(240, 5%, 91%);
  --color-gray-very-dark:hsl(237, 12%, 33%);
  --color-gray-dark:hsl(240, 6%, 50%);
  --font-main:'Kumbh Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100vh;
  font-size: 12px;
  font-family: var(--font-main);
  color: var(--color-dark-blue);
}

main {
  height: 100%;
}

section {
  padding: 100px 25px 25px;
  background: linear-gradient(180deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-img {
  position: relative;
  width: 100px;
  height: 100px;
}

.box {
  display: none;
}

.container-img .firts-mobile-img {
  position: absolute;
  top: -158px;
  right: -70px;
}

.container-img .second-mobile-img {
  position: absolute;
  top: -50px;
  right: -85px;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 50px 20px;
  box-shadow: 0px 18px 50px 0px rgba(0,0,0,0.39);
}

.container-main .container-title h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 25px;
  position: relative;
}

.container-main .container-once-faq .sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--color-dividers) solid;
}

.container-main .container-once-faq .sub-title h3 {
  font-size: 13px;
  font-weight: 400;  
}

.container-main .container-once-faq .sub-title:hover  {
  color: var(--color-red);
}

.container-main .container-once-faq .sub-title .arrow {
  height: 7px;
  width: 10px;
  padding: 16px 0 16px 16px;
}

.container-main .container-once-faq .text-faq {
  border-bottom: 1px var(--color-dividers) solid;
  display:none;
}

/* Toggle*/

.container-main .active .sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0;
}

.container-main .active .text-faq {
  line-height: 20px;
  padding: 5px 20px 10px 0;
  border-bottom: 1px var(--color-dividers) solid;
  color: var(--color-gray-dark);
  width: 90%;
  display:inline-block;
  font-size: 12px;
  transition: all 0.7s;
}

.container-main .active .sub-title h3 {
  font-size: 13px;
  font-weight: 700;
  color: var(--color-dark-blue);
}

.container-main .active .sub-title .arrow {
  transform: rotate(180deg);
  height: 7px;
  width: 10px;
  padding: 16px 16px 16px 0;
}

/* Toggle*/

@media (min-width:500px) {
  .container-main .active .text-faq {
    width: 80%;
  }
  .container-main {
    width: 400px;
  }
}

@media (min-width:850px) {
  main {
    height: 100%;
  }

  section {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }

  .container-img {
    width: 100%;
    height: 471px;
    background: url(images/illustration-woman-online-desktop.svg) bottom 50px left -76px no-repeat, url(images/bg-pattern-desktop.svg) bottom -160px left -570px no-repeat;
  }

  .container-img .firts-mobile-img {
    display: none;
  }
  
  .container-img .second-mobile-img {
    display: none;
  }

  .container-main {
    width: 900px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .container-faq {
    width: 70%;
    padding: 80px 80px 80px 20px;
  }
  
  .container-main .container-title h1 {
    justify-content: start;
  }

  .box {
    display: block;
    position: absolute;
    top:200px;
    left:-93px;
  }
}