.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__articles {
    padding: 0 40px;
    &--flex {
      display: flex;

      .sedans {
        border-radius: 10px 0 0 0;
      }

      .suvs {
        border-radius: 0 10px 0 0 ;
      }
    }
  }
}