:root {
  --font-main: 'Manrope', sans-serif;
  --color-font-primary:  hsl(217, 19%, 35%);
  --color-font-secondary: hsl(214, 17%, 51%);
  --color-font-thirty: hsl(212, 23%, 69%);
  --bg-section:hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-family: var(--font-main);
  background-color: var(--bg-section);
  font-size: 13px;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin: 70px 20px;
}

.container-article {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  box-shadow:  12px 22px 20px rgba(0, 0, 0, 0.1);
}

.img-article {
  border-radius: 10px 10px 0 0;
  width: 100%;
  object-fit: cover;
}

.container-info {
  padding: 25px;
}

.info-article {
  margin-bottom: 35px;
}

.container-info h1 {
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--color-font-primary);
}

.container-info p {
  color: var(--color-font-secondary);
  font-weight: 500;
  line-height: 23px;
}

.container-user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card {
  display: flex;
}

.user-card img {
  border-radius: 50%;
  height: 40px;
  margin-right: 15px;
}

.container-infomation-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-infomation-user span:first-of-type {
  color: var(--color-font-primary);
  font-weight: 700;
}

.container-infomation-user span {
  color: var(--color-font-thirty);
  font-weight: 500;
}

.share {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--bg-section);
}

@media (min-width:500px) { 
  .container-article {
    width: 400px;
  }

  .img-article {
    height: 300px;  
  }

  .container-info h1 {
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  .container-info p {
    font-size: 15px;
    line-height: 25px;
  }

  .user-card img {
    height: 50px;
    margin-right: 20px;
  }  
  
  .container-infomation-user {
    font-size: 15px;
  }

  .share {
    height: 35px;
    width: 35px;
  }
}

@media (min-width:650px) { 
  .container-article {
    width: 500px;
  }
  .container-info h1 {
    font-size: 20px;
  }
}

@media (min-width:1024px) { 
  body, main {
    height: 100%;
  }

  .container-article {
    display: flex;
    width: 900px;
  }

  .img-article {
    height: 340px;  
  }

  .container-info h1 {
    font-size: 23px;
  }
  
  .container-info p {
    font-size: 16px;   
  }

  .img-article {
    border-radius: 10px 0 0 10px;
    width: 100%;
    object-fit: cover;
  }
}