-root {
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green:hsl (154, 59%, 51%);
  --color-acent-blue: (248, 32%, 49%);
  --color-neutral-darkblue: hsl(249, 10%, 26%) ;
  --color-neutral-grayishblue: hsl(246, 25%, 77%);
  --font-family-main: font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  height: 100vh;
}

