:root {
  // Primary colors
  --soft-cyan-full-slider-bar: hsl(174, 77%, 80%);
  --strong-cyan-slider-backround: hsl(174, 86%, 45%);
  --light-grayish-red-discount-background: hsl(14, 92%, 95%);
  --light-red-discount-text: hsl(15, 100%, 70%);
  --pale-blue-cta-text: hsl(226, 100%, 87%);

  // Neutral colors
  --white: hsl(0, 0%, 100%); // Pricing Component Background
  --very-pale-blue: hsl(230, 100%, 99%); // Main Background
  --light-Grayish-Blue: hsl(224, 65%, 95%); // Empty Slider Bar
  --light-Grayish-Blue : hsl(223, 50%, 87%); // Toggle Background
  --grayish-Blue: hsl(225, 20%, 60%); // Text
  --dark-desaturated-blue: hsl(227, 35%, 25%); // Text & CTA Background

  // font
  --semi-bold: 600;
  --extra-bold:800;  
}

html {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 62.5%;
  color: var(--grayish-Blue);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  padding: 9vh 3vh;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-color: var(--very-pale-blue);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-header {
    padding: 4vh 0;
    text-align: center;
    background-image: url(./images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3rem;

    h1{
      color: var(--dark-desaturated-blue);
      font-weight: var(--extra-bold);
    }

    p {
      max-width: 18rem;
      margin: auto;
      font-size: 1.3rem;
      line-height: 2.5rem;
    }
  }

  &-pricing {
    width: 100%;
    background-color: var(--white);
    border-radius: 1rem 1rem 0 0;
    padding: 3vh;
    .pricing {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 1.3rem;
        font-weight: var(--semi-bold);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
      
      p {
        strong {
          color: var(--dark-desaturated-blue);
        }        
      }

      input {
        width: 100%;
      }
    }
  }

  &-footer {
    width: 100%;
    background-color: var(--white);
    border-radius: 0 0 1rem 1rem;
    padding: 3vh;
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.2rem;
      text-align: center;
    }

    .button {
      button {
        padding: 1rem 4rem;
        border: 0;
        border-radius: 2rem;
        font-size: 1.2rem;
        color: var(--pale-blue-cta-text);
        background-color: var(--dark-desaturated-blue);
      }
    }
  }
}