:root {
 --font-family: 'Libre Franklin', sans-serif;
 --color-blue: hsl(223, 87%, 63%);
 --Pale-Blue: hsl(223, 100%, 88%);
 --Light-Red: hsl(354, 100%, 66%);
 --Gray: hsl(0, 0%, 59%);
 --Very-Dark-Blue: hsl(209, 33%, 12%);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  font-family: var(--font-family);
  font-size:  15px;
  color: var(--Very-Dark-Blue);
}

.container-main {
  padding: 80px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-logo {
  margin-bottom: 30px;
}

.container-main h1 {
  margin-bottom: 18px;
}

.container-main h1 span {
  font-weight: 300;
  color: var(--Gray);
}

.container-main h4{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 30px;
}

.container-main .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main .form .container-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main .form .container-email #email{
  width: 100%;
  padding: 15px 20px;
  padding-left: 30px;
  border: 1px var(--Pale-Blue) solid;
  border-radius: 50px;
  outline: none;
}

.container-main .form #label {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  margin: 15px 0;
  display: none;
}

/* VALIDATION */
.container-main .error .container-email #email {
  border: 1px var(--Light-Red) solid;
}

.container-main .error .container-email #label {
  color: var(--Light-Red);
  display: block;
}

.container-main .success .container-email #email {
  border: 1px var(--color-blue) solid;
}

.container-main .success .container-email #label {
  color: var(--color-blue);
  display: block;

}
/* VALIDATION */

.container-main .form #email::-webkit-input-placeholder {
  color: var(--Pale-Blue);
  font-weight: 300;
}

.container-main .form .button {
  width: 100%;
  border-radius: 50px;
  margin-top: 10px;
  padding: 15px 20px;
  background-color: var(--color-blue);
  color: white;
  cursor: pointer;
  box-shadow: 0px 8px 14px var(--Pale-Blue);
}

.container-main .form .button:hover {
  background-color: #4f7df3cc;
}

.container-main .container-img  {
  margin: 70px 0 100px;
}

.container-main .container-img img {
  width: 100%;
  height: 100%;
}

.container-main .container-social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.container-main .container-social-media .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin: 0 5px;
  border: 1px solid var(--Pale-Blue);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: var(--color-blue);
  font-size: 16px;
}

.container-main .container-social-media .icon:hover {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: white;
  cursor: pointer;
}

.container-main .footer span {
  font-size: 12px;
  color: var(--Gray);
}

@media (min-width:600px) {
  .container-main {
    width: 80%;
    margin: auto;
  }
}

@media (min-width:1024px) {
  .container-main {
    width: 80%;
    margin: auto;
    padding: 80px 0px 50px;
  }

  .container-main h1 {
    font-size:  40px;
    margin-bottom: 15px;
  }

  .container-main .form {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 50%;
  }
  
  .container-main .form .container-email {
    align-items: start;
    margin-right: 15px;
  }

  .container-main .form .container-email #email {
    margin: 0;
  }
  
  .container-main .form .container-email #label {
    margin-left: 30px;
    margin-bottom: 0;
  }

  .container-main .form .button {
    margin-top: 0;
    width: 200px;
  }

  .container-main .container-img {
    width: 50%;
  }
}