.header {
  height: 400px;
  background: url("../assets/images/image-hero-desktop.jpg") center/cover no-repeat, -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: url("../assets/images/image-hero-desktop.jpg") center/cover no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  padding: 44px 24px;
}

.header .nav .icon-burger {
  display: none;
}

.header .nav .options {
  display: inline-block;
}

.main {
  left: calc(50% - 365px);
  top: 308px;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.sub-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.3rem;
}

.paragraph {
  color: var(--dark-gray);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.product {
  padding: 44px;
}

.product title {
  width: 90%;
}

.product__buttons {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__buttons .bookmark::before {
  display: inline-block;
  content: 'Bookmarked';
  color: var(--dark-gray);
  font-size: 1.5rem;
  font-weight: 700;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0 18px 0 0;
}

.stats {
  padding: 40px 48px;
  height: 210px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'backed total-backed days' 'bar bar bar';
}

.stats__backed {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: backed;
}

.stats__total-backed {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: total-backed;
  border: 0;
  margin: 0;
  padding: 0;
}

.stats__days {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: days;
}

.stats .bar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bar;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about {
  padding: 40px 48px;
  margin: 0 0 125px;
}

.about p:nth-child(2) {
  line-height: 2.8rem;
}

.about__card {
  padding: 30px;
}

.about__card .sub-title-container {
  margin: 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__card .sub-title-container .sub-title {
  font-size: 1.8rem;
}

.about__card .sub-title-container .price {
  margin: 0;
  font-weight: 700;
}

.about__card .select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__card .select-container p {
  margin: 0;
}

.about__card .select-container .button {
  width: 157px;
}

.modal__success .modal__content {
  padding: 50px;
}

.modal__success .modal__content .icon {
  width: 90px;
  height: 90px;
}

.modal__success .modal__content .sub-title {
  font-size: 2.5rem;
}

.modal__success .modal__content .paragraph {
  font-size: 1.8rem;
  line-height: 3.5rem;
}

.modal__content {
  padding: 48px;
  position: relative;
}

.modal__content .icon-close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.modal__content .title {
  margin: 0 0 15px;
  font-size: 2.5rem;
}

.modal__cards {
  padding: 36px 0;
}

.modal__cards .modal__card-content {
  padding: 36px 28px;
  position: relative;
}

.modal__cards .modal__card-content .card__header .sub-title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.modal__cards .modal__card-content .p-stats {
  position: absolute;
  right: 0;
  top: 0;
  margin: 35px 28px 0 0;
}

.modal__cards .active__modal .modal__card-pledge {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal__cards .active__modal .modal__card-pledge p {
  margin: 0;
}
/*# sourceMappingURL=desktop.css.map */