@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Commissioner', sans-serif;
  min-width: 320px;
  color: var(--black);
  position: relative;
  background-color: #fafafa;
}

.header {
  height: 300px;
  background: url("../assets/images/image-hero-mobile.jpg") center/cover no-repeat, -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: url("../assets/images/image-hero-mobile.jpg") center/cover no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  background-blend-mode: multiply;
  padding: 32px 24px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.header .nav .logo {
  width: 128px;
  height: 20px;
}

.header .nav .icon-burger {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../assets/svg/icon-hamburger.svg") center/cover no-repeat;
}

.header .nav .options-burger {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 70px 24px 0;
}

.header .nav .options-burger ul {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  height: 212px;
  list-style: none;
  padding: 0 24px;
  font-size: 2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav .options-burger ul li:nth-child(2) {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.header .nav .options-burger ul li {
  padding: 23px 0;
}

.header .nav .options {
  display: none;
}

.header .nav .options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  list-style: none;
  color: #fff;
  font-size: 1.3rem;
}

.header .nav .options ul li {
  cursor: pointer;
}

.main {
  padding: 0 24px;
  position: absolute;
  top: 244px;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 730px;
}

.title {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.sub-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
}

.paragraph {
  color: var(--dark-gray);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.button {
  background: var(--moderate-cyan);
  border: none;
  padding: 16px 32px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 30px;
  color: #fff;
  height: 56px;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  background: var(--dark-cyan);
}

.product {
  background-color: #fff;
  padding: 50px 24px 40px;
  width: 100%;
  height: 284px;
  text-align: center;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border: 1px solid #f5f5f5;
}

.product__icon {
  display: inline-block;
  height: 56px;
  width: 56px;
  background: url("../assets/svg/logo-mastercraft.svg") center/contain no-repeat;
  position: absolute;
  top: -26px;
  left: calc(50% - 26px);
}

.product h1 {
  width: 80%;
  margin: 0 auto 15px;
}

.product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.product__buttons .button {
  max-width: 204px;
}

.product__buttons .bookmark__container {
  width: 0;
  background: #f4f8f9;
  border-radius: 30px;
  height: 56px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__buttons .bookmark__container .bookmark {
  border: none;
  border-radius: 30px;
}

.product__buttons .bookmark__container .bookmark:hover {
  opacity: 0.7;
}

.product__buttons .bookmark__container .bookmark span {
  display: inline-block;
  height: 56px;
  width: 56px;
  background: url("../assets/svg/icon-bookmark.svg") center/contain no-repeat;
}

.product__buttons .bookmark__container p {
  display: none;
  color: var(--dark-gray);
  font-size: 1.5rem;
  font-weight: 700;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0 18px 0 0;
}

.stats {
  display: -ms-grid;
  display: grid;
  text-align: center;
  height: 413px;
  background: #fff;
  padding: 40px 24px;
  border: 1px solid #f5f5f5;
}

.stats .title {
  font-size: 3rem;
  line-height: 4rem;
}

.stats__total-backed {
  width: 30%;
  padding: 20px 0;
  margin: 20px auto;
  border-top: 1px solid #7a7a7a80;
  border-bottom: 1px solid #7a7a7a80;
}

.stats__days {
  margin: 0 0 20px;
}

.stats .bar {
  height: 12px;
  width: 100%;
  background: #f4f4f4;
  border-radius: 20px;
}

.stats .bar__progress {
  height: 100%;
  width: 80%;
  background: var(--moderate-cyan);
  border-radius: 20px;
}

.about {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  padding: 40px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__content .sub-title {
  margin: 0 0 15px;
}

.about__content p:nth-child(2) {
  margin: 0 0 20px;
}

.about__card {
  border: 1px solid #dbdbdb;
  padding: 24px;
  border-radius: 10px;
}

.about__card .sub-title-container .sub-title {
  font-size: 1.4rem;
}

.about__card .sub-title-container .price {
  color: var(--moderate-cyan);
  font-weight: 700;
  font-size: 1.4rem;
  margin: 5px 0 25px;
}

.about__card .paragraph {
  font-size: 1.39rem;
  margin: 0 0 25px;
}

.about__card .select-container p {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 25px;
}

.about__card .select-container p span {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--dark-gray);
  margin: 0 0 0 10px;
}

.about__card .select-container .button {
  height: 48px;
  padding: 16px 30px;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}

.disable {
  opacity: 0.5;
}

.disable .select-container .button {
  background: var(--dark-gray);
}

.disable .select-container .button:hover {
  cursor: initial;
}

.modal__success {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding: 0 24px;
  text-align: center;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__success .modal__content {
  background: #fff;
  padding: 40px 24px;
  border-radius: 10px;
  max-width: 540px;
}

.modal__success .modal__content .icon {
  height: 64px;
  width: 64px;
  display: inline-block;
  background: url("../assets/svg/icon-check.svg") center/contain no-repeat;
  margin: 0 0 20px;
}

.modal__success .modal__content .paragraph {
  margin: 20px 0 30px;
}

.modal__success .modal__content .button {
  width: 107px;
  padding: 12px 24px;
}

.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding: 80px 24px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  background-color: #fff;
  padding: 36px 24px 0;
  border-radius: 10px;
  max-width: 730px;
}

.modal__content .icon-close {
  display: inline-block;
  height: 14px;
  width: 14px;
  background: url("../assets/svg/icon-close-modal.svg") center/contain no-repeat;
}

.modal__content .title {
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.modal__cards {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.modal__cards .modal__card {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}

.modal__cards .modal__card-content {
  padding: 33px 24px;
}

.modal__cards .modal__card-content .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__cards .modal__card-content .card__header input[type='radio'] {
  height: 24px;
  width: 24px;
  padding: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
}

.modal__cards .modal__card-content .card__header input[type='radio']:checked::after {
  display: block;
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 20px;
  background: var(--moderate-cyan);
}

.modal__cards .modal__card-content .card__header .sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.modal__cards .modal__card-content .card__header .sub-title span {
  color: var(--moderate-cyan);
}

.modal__cards .modal__card-content .paragraph {
  margin: 20px 0 0;
}

.modal__cards .modal__card-content .p-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.modal__cards .modal__card-content .p-stats span {
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 1.6rem;
}

.modal__cards .modal__card-pledge {
  display: none;
  border-top: 2px solid #ececec;
  padding: 32px 24px 20px;
}

.modal__cards .modal__card-pledge .paragraph {
  text-align: center;
  margin: 0 0 20px;
}

.modal__cards .modal__card-pledge .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.modal__cards .modal__card-pledge .buttons .input-container {
  width: 100px;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 0 0 0 24px;
  font-size: 1.4rem;
  font-weight: 700;
}

.modal__cards .modal__card-pledge .buttons .input-container p {
  color: #bbbbbb;
  font-weight: 700;
}

.modal__cards .modal__card-pledge .buttons .input-container input {
  width: 50px;
  padding: 12px 24px 12px 0;
  border-radius: 30px;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  outline: none;
}

.modal__cards .modal__card-pledge .buttons button {
  width: 115px;
  height: auto;
  padding: 12px 24px;
}

.active-options main {
  position: fixed;
}

.active-options .header .nav .icon-burger {
  background: url("../assets/svg/icon-close-menu.svg") center/cover no-repeat;
}

.active-options .header .nav .options-burger {
  display: inline-block;
}

.show_modal .main {
  position: fixed;
}

.show_modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show--modal-success .main {
  position: fixed;
}

.show--modal-success .modal__success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__card.active-pledge {
  border: 1px solid var(--moderate-cyan);
}

.modal__card.active-pledge .modal__card-pledge {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */