@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
  // Colors

  // Primary
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);

  // Neutral
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Commissioner', sans-serif;
  min-width: 320px;
  color: var(--black);
  position: relative;
  background-color: #fafafa;
}

.header {
  height: 300px;
  background: url('../assets/images/image-hero-mobile.jpg') center/cover
      no-repeat,
    linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  background-blend-mode: multiply;
  padding: 32px 24px;

  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;

    .logo {
      width: 128px;
      height: 20px;
    }

    .icon-burger {
      display: inline-block;
      height: 16px;
      width: 16px;
      background: url('../assets/svg/icon-hamburger.svg');
    }
    .options-burger {
      display: none;
    }

    .options {
      display: none;
    }
  }
}

.main {
  padding: 0 24px;
  position: absolute;
  top: 244px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 730px;
}

.title {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.sub-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
}

.paragraph {
  color: var(--dark-gray);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.button {
  background: var(--moderate-cyan);
  border: none;
  padding: 16px 32px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 30px;
  color: #fff;
  height: 56px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: var(--dark-cyan);
  }
}

.product {
  background-color: #fff;
  padding: 50px 24px 40px;
  width: 100%;
  height: 284px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid #f5f5f5;

  &__icon {
    display: inline-block;
    height: 56px;
    width: 56px;
    background: url('../assets/svg/logo-mastercraft.svg') center/contain
      no-repeat;
    position: absolute;
    top: -26px;
    left: calc(50% - 26px);
  }

  h1 {
    width: 80%;
    margin: 0 auto 15px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;

    .button {
      max-width: 204px;
    }

    .bookmark__container {
      width: 173px;
      background: #f4f8f9;
      border-radius: 30px;
      height: 56px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .bookmark {
        border: none;
        border-radius: 30px;

        &:hover {
          opacity: 0.7;
        }

        span {
          display: inline-block;
          height: 56px;
          width: 56px;
          background: url('../assets/svg/icon-bookmark.svg') center/contain
            no-repeat;
        }
      }

      p {
        color: var(--dark-gray);
        font-size: 1.5rem;
        font-weight: 700;
        justify-self: center;
        padding: 0 18px 0 0;
      }
    }
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 413px;
  background: #fff;
  padding: 40px 24px;
  border: 1px solid #f5f5f5;

  .title {
    font-size: 3rem;
    line-height: 4rem;
  }

  &__total-backed {
    width: 30%;
    padding: 20px 0;
    margin: 20px auto;
    border-top: 1px solid #7a7a7a80;
    border-bottom: 1px solid #7a7a7a80;
  }

  &__days {
    margin: 0 0 20px;
  }

  input {
    width: 100%;
    height: 12px;
  }

  .bar {
    height: 12px;
    width: 100%;
    background: #f4f4f4;
    border-radius: 20px;

    &__progress {
      height: 100%;
      width: 80%;
      background: var(--moderate-cyan);
      border-radius: 20px;
    }
  }
}

.about {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  padding: 40px 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;

  &__content {
    .sub-title {
      margin: 0 0 15px;
    }

    p:nth-child(2) {
      margin: 0 0 20px;
    }
  }

  &__card {
    border: 1px solid #dbdbdb;
    padding: 24px;
    border-radius: 10px;

    .sub-title-container {
      .sub-title {
        font-size: 1.4rem;
      }

      .price {
        color: var(--moderate-cyan);
        font-weight: 700;
        font-size: 1.4rem;
        margin: 5px 0 25px;
      }
    }

    .paragraph {
      font-size: 1.39rem;
      margin: 0 0 25px;
    }

    .select-container {
      p {
        font-size: 3rem;
        font-weight: 700;
        margin: 0 0 25px;

        span {
          font-size: 1.4rem;
          font-weight: 400;
          color: var(--dark-gray);
          margin: 0 0 0 10px;
        }
      }

      .button {
        height: 48px;
        padding: 16px 30px;
        font-size: 1.3rem;
        letter-spacing: 0.05rem;
      }
    }
  }
}

.disable {
  opacity: 0.5;

  .select-container {
    .button {
      background: var(--dark-gray);

      &:hover {
        cursor: initial;
      }
    }
  }
}

.modal__success {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding: 0 24px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;

  .modal__content {
    background: #fff;
    padding: 40px 24px;
    border-radius: 10px;

    .icon {
      height: 64px;
      width: 64px;
      display: inline-block;
      background: url('../assets/svg/icon-check.svg') center/contain no-repeat;
      margin: 0 0 20px;
    }

    .paragraph {
      margin: 20px 0 30px;
    }
  }
}

.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding: 80px 24px;
  display: none;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: #fff;
    padding: 36px 24px 0;
    border-radius: 10px;

    .icon-close {
      display: inline-block;
      height: 14px;
      width: 14px;
      background: url('../assets/svg/icon-close-modal.svg') center/contain
        no-repeat;
    }

    .title {
      margin: 0 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.8rem;
    }
  }

  &__cards {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .modal__card {
      border: 1px solid #d8d8d8;
      border-radius: 8px;
      &-content {
        padding: 33px 24px;
        .card__header {
          display: flex;
          gap: 16px;
          align-items: center;

          input[type='radio'] {
            height: 24px;
            width: 24px;
            padding: 5px;
            appearance: none;
            // input.checked = false
            border: 1px solid #d8d8d8;
            border-radius: 30px;
          }

          input[type='radio']:checked::after {
            display: block;
            content: '';
            height: 12px;
            width: 12px;
            border-radius: 20px;
            background: var(--moderate-cyan);
          }

          .sub-title {
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            line-height: 2.8rem;

            span {
              color: var(--moderate-cyan);
            }
          }
        }

        .paragraph {
          margin: 20px 0 0;
        }

        .p-stats {
          display: flex;
          gap: 11px;
          font-size: 1.8rem;
          font-weight: 700;
          margin: 20px 0 0;

          span {
            color: var(--dark-gray);
            font-weight: 400;
            font-size: 1.6rem;
          }
        }
      }

      &-pledge {
        display: none;
        border-top: 2px solid #ececec;
        padding: 32px 24px 20px;

        .paragraph {
          text-align: center;
          margin: 0 0 20px;
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          gap: 16px;

          .input-container {
            width: 100px;
            border: 1px solid #d8d8d8;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            padding: 0 0 0 24px;
            font-size: 1.4rem;
            font-weight: 700;

            p {
              color: #bbbbbb;
              font-weight: 700;
            }

            input {
              width: 50px;
              padding: 12px 24px 12px 0;
              border-radius: 30px;
              border: none;
              font-size: 1.4rem;
              font-weight: 700;
              outline: none;
            }
          }

          button {
            width: 115px;
            height: auto;
            padding: 12px 24px;
          }
        }
      }
    }
  }
}

.show_modal {
  .main {
    position: fixed;
  }

  .modal {
    display: flex;
  }
}

.show--modal-success {
  .main {
    position: fixed;
  }

  .modal__success {
    display: flex;
  }
}

.modal__card.active-pledge {
  border: 1px solid var(--moderate-cyan);

  .modal__card-pledge {
    display: inline-block;
  }
}
