@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600;700&family=Ubuntu:wght@400;500;700&display=swap");
body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

.header {
  background: linear-gradient(135deg, #ff8f70 20%, #ff3d54 70%), url(./images/bg-pattern-intro.svg) no-repeat;
  background-blend-mode: hue;
  background-position: 37% 30%;
  background-size: 1200px;
  border-end-start-radius: 100px;
  height: 75vh;
  margin-bottom: 100px;
  padding: 50px 30px;
}

.header__states {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__states .hamburger {
  height: 20px;
  width: 32px;
}

.header__states .hamburger--size {
  height: 32px;
  width: 32px;
}

.header__nav {
  background-color: white;
  color: #1f3f5b;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  left: 0;
  position: absolute;
  padding: 20px;
  text-align: center;
  top: 70px;
  right: 0;
}

.header__nav ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 20px;
}

.header__nav ul li {
  margin-bottom: 20px;
}

.header__nav ul li span {
  margin-left: 8px;
}

.header__nav ul li:last-child {
  margin-bottom: 0;
}

.header .sub-list {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
}

.header__buttons {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.header__buttons .btn-sign,
.header__buttons .btn-login {
  border-radius: 40px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  padding: 15px 40px;
}

.header__buttons .btn-login {
  border: none;
  background-color: transparent;
  color: #1f3f5b;
  margin: 10px 0;
}

.header__buttons .btn-sign {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
  color: white;
}

.header__info {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__info-title {
  font-size: 2.1em;
  color: white;
}

.header__info-p {
  margin: 0 0 50px;
  font-size: 1.2em;
  color: white;
}

.header .btn-start,
.header .btn-learn {
  border: none;
  border-radius: 40px;
  padding: 15px 20px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.header .btn-start {
  background-color: white;
  color: #ff525d;
}

.header .btn-start:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.header .btn-learn {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin-left: 10px;
}

.header .btn-learn:hover {
  background-color: white;
  color: #ff525d;
}

.sections__one .img {
  background-image: url(./images/illustration-editor-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 330px;
}

.sections__two {
  background: url("./images/bg-pattern-circles.svg"), linear-gradient(135deg, #2c2d3f, #3f4164);
  background-size: 630px, contain;
  background-position: center -270px, center center;
  background-repeat: no-repeat, repeat;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 265px 0 0;
  padding: 0 0 100px;
  color: white;
}

.sections__two .sections__img {
  height: 150px;
  position: relative;
  min-width: 360px;
  max-width: 360px;
  top: -180px;
}

.sections__two .sections__img .img {
  position: absolute;
}

.sections__two .sections__title {
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 50px 30px 20px;
}

.sections__two .sections__paragraph {
  color: #c8c8cb;
  margin-bottom: 0;
}

.sections__three {
  margin: 60px 0 100px;
}

.sections__three .img {
  background-image: url(./images/illustration-laptop-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 330px;
  margin-bottom: 50px;
}

.sections__title {
  color: #1f3f5b;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin: 50px 30px;
}

.sections__subtitle {
  color: #1f3f5b;
  font-size: 28px;
  font-weight: 600;
  margin: 25px 30px;
  text-align: center;
}

.sections__paragraph {
  color: #4b5862;
  line-height: 28px;
  text-align: center;
  margin: 0 20px 50px 30px;
  font-size: 16px;
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #25252d;
  border-top-right-radius: 100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  padding: 70px 0;
}

.footer .footer__img {
  margin-bottom: 50px;
}

.footer .footer__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__box .title {
  margin-top: 50px;
}

.footer .footer__box a {
  color: #c8c8cb;
  margin-top: 10px;
  text-decoration: none;
}

.footer .footer__box a:hover {
  text-decoration: underline;
}

.hiden {
  display: none;
}
/*# sourceMappingURL=style.css.map */