@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600;700&family=Ubuntu:wght@400;500;700&display=swap");
body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

.container--max-wigth {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.header {
  background: linear-gradient(135deg, #ff8f70 20%, #ff3d54 70%), url(./images/bg-pattern-intro.svg) no-repeat;
  background-blend-mode: hue;
  background-position: 37% 30%;
  background-size: 1200px;
  border-end-start-radius: 100px;
  height: 75vh;
  margin-bottom: 100px;
  padding: 50px 30px;
}

@media (min-width: 900px) {
  .header {
    background-position: 23% 50%;
    background-size: initial;
  }
}

.header__states {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__states .hamburger {
  height: 20px;
  width: 32px;
}

.header__states .hamburger--size {
  height: 32px;
  width: 32px;
}

@media (min-width: 900px) {
  .header__states {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 1fr;
        grid-template-columns: 100px 1fr;
    width: 100%;
  }
  .header__states .hamburger {
    display: none;
  }
}

.header__nav {
  background-color: white;
  color: #1f3f5b;
  display: none;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  padding: 20px;
  text-align: center;
  top: 70px;
  right: 0;
  left: 0;
}

.header__nav ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 20px;
}

.header__nav ul li {
  margin-bottom: 20px;
}

.header__nav ul li span {
  margin-left: 8px;
}

.header__nav ul li:last-child {
  margin-bottom: 0;
}

@media (min-width: 400px) {
  .header__nav {
    left: initial;
    width: 287px;
  }
}

@media (min-width: 900px) {
  .header__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 80px;
    padding: 0;
    position: initial;
    width: auto;
  }
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    position: relative;
  }
  .header__nav ul .list {
    margin: 0;
  }
  .header__nav ul .list:hover {
    text-decoration: underline;
  }
  .header__nav ul .list .sub-list {
    background: white;
    color: #1f3f5b;
    text-align: start;
    position: absolute;
    top: 40px;
    font-size: 0.9em;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding: 30px 25px;
  }
  .header__nav ul .list .sub-list li:hover {
    font-weight: 700;
  }
  .header__nav ul .list span {
    margin-right: 30px;
  }
}

.header .sub-list {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
  display: none;
}

.header__buttons {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.header__buttons .btn-sign,
.header__buttons .btn-login {
  border-radius: 40px;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  padding: 15px 40px;
}

.header__buttons .btn-login {
  border: none;
  background-color: transparent;
  color: #1f3f5b;
  margin: 10px 0;
}

.header__buttons .btn-sign {
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
  color: white;
}

@media (min-width: 900px) {
  .header__buttons {
    border: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .header__buttons .btn-login {
    color: white;
    margin: 0;
  }
  .header__buttons .btn-sign {
    background: white;
    color: #ff525d;
  }
  .header__buttons .btn-sign:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
}

.header__info {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__info-title {
  font-size: 2.1em;
  color: white;
}

.header__info-p {
  margin: 0 0 50px;
  font-size: 1.2em;
  color: white;
}

@media (min-width: 900px) {
  .header__info-title {
    font-size: 4em;
  }
}

.header .btn-start,
.header .btn-learn {
  border: none;
  border-radius: 40px;
  padding: 15px 20px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.header .btn-start {
  background-color: white;
  color: #ff525d;
}

.header .btn-start:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.header .btn-learn {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  margin-left: 10px;
}

.header .btn-learn:hover {
  background-color: white;
  color: #ff525d;
}

.sections__one {
  margin-top: 50px;
}

.sections__one .img {
  background-image: url("./images/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 330px;
}

@media (min-width: 900px) {
  .sections__one {
    background: url("./images/illustration-editor-desktop.svg") no-repeat;
    background-position: right -250px center;
    margin: 0;
    padding: 130px 0;
  }
  .sections__one .sections__title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 80px;
  }
  .sections__one .img {
    display: none;
  }
  .sections__one .container-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sections__one .container-one .sections__paragraph {
    width: 43%;
  }
}

.sections__two {
  background: url("./images/bg-pattern-circles.svg"), linear-gradient(135deg, #2c2d3f, #3f4164);
  background-size: 630px, contain;
  background-position: center -270px, center center;
  background-repeat: no-repeat, repeat;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: 265px 0 0;
  padding: 0 0 100px;
  color: white;
}

.sections__two .sections__img {
  height: 150px;
  position: relative;
  top: -180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sections__two .sections__img .img {
  position: absolute;
  width: 360px;
}

.sections__two .sections__title {
  font-size: 40px;
  color: white;
  margin: 50px 30px 20px;
}

.sections__two .sections__paragraph {
  color: #c8c8cb;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .sections__two {
    background-position: -212px -500px, center center;
    background-size: 1000px, contain;
    margin: 50px 0 0;
    padding: 100px 0;
  }
  .sections__two .sections__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sections__two .sections__container .sections__img {
    width: 50%;
    height: 100%;
    top: -160px;
    left: 0;
  }
  .sections__two .sections__container .sections__img .img {
    width: initial;
  }
  .sections__two .sections__container .sections__content {
    width: 50%;
    margin-left: 50px;
  }
  .sections__two .sections__container .sections__content .sections__title {
    margin: 40px 0 25px;
  }
  .sections__two .sections__container .sections__content .sections__paragraph {
    text-align: start;
    width: 90%;
    margin: 0;
  }
}

.sections__three {
  margin: 60px 0 100px;
}

.sections__three .img {
  background-image: url("./images/illustration-laptop-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 330px;
  margin-bottom: 50px;
  width: 100%;
}

@media (min-width: 900px) {
  .sections__three {
    margin: 100px 0;
    background: url("./images/illustration-laptop-desktop.svg") no-repeat;
    background-position: left -275px center;
    height: 800px;
  }
  .sections__three .img {
    background: none;
    margin: 0;
    height: 100%;
    width: 50%;
  }
  .sections__three .sections__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  .sections__three .sections__container .sections__content {
    width: 50%;
  }
}

.sections__title {
  color: #1f3f5b;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin: 0 30px 50px;
}

.sections__subtitle {
  color: #1f3f5b;
  font-size: 28px;
  font-weight: 600;
  margin: 25px 30px;
  text-align: center;
}

.sections__paragraph {
  color: #4b5862;
  line-height: 28px;
  text-align: center;
  margin: 0 20px 50px 30px;
  font-size: 16px;
}

@media (min-width: 900px) {
  .sections__title {
    text-align: start;
  }
  .sections__subtitle {
    text-align: start;
  }
  .sections__paragraph {
    text-align: start;
  }
}

.footer {
  background-color: #25252d;
  border-top-right-radius: 100px;
}

.footer__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  padding: 70px 0;
}

.footer__container .footer__img {
  margin-bottom: 50px;
}

.footer__container .footer__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__container .footer__box .title {
  margin-top: 50px;
}

.footer__container .footer__box a {
  color: #c8c8cb;
  margin-top: 10px;
  text-decoration: none;
}

.footer__container .footer__box a:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__container .footer__box {
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__container .footer__box .title {
    margin-top: 0px;
  }
}

.show {
  display: initial;
}

.list--styles .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list--styles .sub-list {
  display: block;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */