.space-lateral {
  padding: 0 80px;
}

.main-container {
  background: url(../assets/images/bg-desktop.svg) left/cover no-repeat
    var(--violet);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo-container {
  margin: 60px 0 0;
  img {
    width: 200px;
  }
}

.content-container {
  .content__img {
    img {
      width: 100%;
      // @include media-query(small) {
      //   width: 55%;
      // }
    }
  }

  display: flex;
  justify-content: space-between;
  gap: 60px;

  .content__content {
    width: 500px;
    text-align: start;

    h1 {
      font-size: 3.7rem;
      line-height: 5.5rem;
    }

    button {
      height: 56px;
      font-size: 1.6rem;
    }
  }
}

.footer {
  align-self: flex-end;

  div {
    height: 42px;
    width: 42px;

    i {
      color: #fff;
      font-size: 1.8rem;
    }
  }
}
