:root {
  --main-bg-color: hsl(233, 47%, 7%);
  --main-bg-card-color: hsl(244, 38%, 16%);
  --main-bg-accent-color: hsl(277, 64%, 61%);
  --main-color-font-heading: hsl(0, 0%, 100%);
  --main-color-font-paragraph: hsla(0, 0%, 100%, 0.75);
  --main-color-font-stats: hsla(0, 0%, 100%, 0.6);
  --main-font-family-body: 'Inter', sans-serif;
  --main-img-mobile: url(./images/image-header-mobile.jpg);
  --main-img-desktop: url(./images/image-header-desktop.jpg);
}

* {
  margin: 0;
  padding: 0;
  border:0;
}

html {
  height: 100vh;
}


body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family-body);
  font-size: 15px;
  height: 100%;
}

main {   
  padding: 70px 15px;
}

.img {
  background-color: var(--main-bg-accent-color);
  background-image:var(--main-img-mobile);
  background-blend-mode:multiply;
  background-size: cover;
  background-repeat:no-repeat;
  width: 100%;
  height: 270px;
}

.borde-radius-top {
  border-radius: 10px 10px 0px 0px;
}

.main-section { 
  border-radius: 10px;
  background-color: var(--main-bg-card-color);
}

.container-main {
  padding: 30px;
}

.container-body {
  margin: 20px 0;
}

.container-body p {
  color: var(--main-color-font-paragraph);
  font-weight: 400;
  text-align: center;
  line-height: 180%;
}

.container-body  h1 {
  text-align: center;
  font-size: 26px;
  margin: 0 0 20px 0;
}

h1, h2 {
  font-weight: 700;
  color: var(--main-color-font-heading);
}

.accent {
  color: var(--main-bg-accent-color);
}

.container-stats {
  margin: 30px 0px 10px 0px;
  text-align: center;
}

.container-stats h2 {
  margin: 5px;
}

.container-stats p {
  margin:0;
  color: var(--main-color-font-stats);
  font-size: 15px;
  font-weight: 400;
}

.stat {
  margin: 20px 0;
}

@media (min-width:550px) {
  .container-stats {
    display: flex;
    justify-content: center;
  }

  .main-section {
    width: 80%;
    margin: auto;
  }

  .stat {
    margin: 20px;
  }
}

@media (min-width:700px) {
  .img {
    background-image: var(--main-img-desktop);
    height: 400px;
  }
  
  .main-section {
    width: 540px;
    margin: auto;
  }
}

@media (min-width:1024px) {
  main {
    padding: 0;
    height: 100%;
    display: flex;
  }
  .img {
    background-image: var(--main-img-desktop);
    background-size: cover;
    width: 50%;
  }

  .borde-radius-top {
    border-radius: 0px 10px 10px 0px;
  }

  .main-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    width: 80%;
  }
  
  .container-main {
    border-radius: 10px 0 0 10px;
    width: 50%;
    padding: 0 50px ;
  }

  .container-body  h1 {
    text-align: start;
    font-size: 35px;
  }

  .container-body p {
    text-align: start;
    width: 80%;
  }

  .container-stats {
    text-align: start;
    justify-content: start;
    margin-top: 70px;
  }

  .stat {
    margin: 0 60px 0 0;
  }
}

@media (min-width:1250px) { 
  .main-section {
    width: 1024px;
  }
}